

{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="comment" align="left">
    <h1 align="left">Contact</h1>
    <p class="important" align="left">
      Welcome on my awesome Web page.
    </p>
    <h3 align="left">  Course Code: CPSC 5340 </h3>
    <h3 align="left">Course Name: Information Retrieval and Search</h3>
    <h3 align="left"> Day/Time:  Tuesday / Thursday 6:00 – 8:05</h3>
    <h3 align="left">Location:  Lemieux Library 122</h3>
  </div>
{% endblock %}